<div class="panel panel-default">
	<div class="panel-heading">
		Log in
	</div>
  	<div class="panel-body">
    	<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
		  <div class="form-inputs">
		    <%= f.input :email, required: false, autofocus: true %>
		    <%= f.input :password, required: false %>
		    <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
		  </div>

		  <%= f.button :submit, "Log in" %>
		<% end %>

		<%= render "devise/shared/links" %>

  	</div>
</div>